<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= "css/template.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= "css/welcome/landing.css") }}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Riflelytics</title>
</head>
<body>
{#    <section>#}
{#        <div class="container-fluid">#}
{#            <div class="hero-container">#}
{#                <img class="hero-wave" src="../../static/images/hero_wave2.svg" alt="wave">#}
{#                <div class="content">#}
{#                    <div class="hero">#}
{#                        <div class="hero-text">#}
{#                            <div class="hero-title">#}
{#                                <img class="hero-logo" src="../../static/images/riflelytics_logo.svg" alt="logo">#}
{#                                <h1>Riflelytics</h1>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div>#}
{#                            <div class="hero-subtitle">#}
{#                                Supporting Growing Rifle Shooters#}
{#                            </div>#}
{#                            <a href="/login"><button class="hero-btn">Member Log In</button></a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div id="carousel" class="carousel slide hero-carousel" data-ride="carousel">#}
{#                              <ol class="carousel-indicators">#}
{#                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
{#                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
{#                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#                              </ol>#}
{#                              <div class="carousel-inner">#}
{#                                <div class="carousel-item active">#}
{#                                  <img class="d-block w-100" src="{{ url_for('static', filename="images/profile_landing.png")}}" alt="First slide">#}
{#                                </div>#}
{#                                <div class="carousel-item">#}
{#                                  <img class="d-block w-100" src="{{ url_for('static', filename="images/catalogue_landing.png")}}" alt="Second slide">#}
{#                                </div>#}
{#                                <div class="carousel-item">#}
{#                                  <img class="d-block w-100" src="{{ url_for('static', filename="images/mobile_landing.png")}}" alt="Third slide">#}
{#                                </div>#}
{#                                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">#}
{#                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                                    <span class="sr-only">Previous</span>#}
{#                                </a>#}
{#                                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">#}
{#                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                                    <span class="sr-only">Next</span>#}
{#                                </a>#}
{#                              </div>#}
{#                            </div>#}
{##}
{##}
{#                    <div class="new-club hero-text">#}
{#                        <div class="new-club-title">#}
{#                            Are you an interested school or club?#}
{#                        </div>#}
{#                        <button class="hero-btn get-started-btn">#}
{#                            Contact Us#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="partner-title">#}
{#                        <div class="partner-text">#}
{#                            Proud Partners With#}
{#                        </div>#}
{#                        <img src="../../static/images/break_line.svg" alt="break_line">#}
{#                    </div>#}
{#                    <div class="proud-partners">#}
{#                        <div class="partner">#}
{#                            <img src="../../static/images/sbhs_logo.svg" alt="sbhs_logo">#}
{#                        </div>#}
{#                        <div class="partner">#}
{#                            <img src="../../static/images/smt_logo.png" alt="smt_logo">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section>
        <div class="hero">
            <div class="hero-title">
                <img class="hero-logo" src="../../static/images/riflelytics_logo.svg" alt="logo">
                <h1>Riflelytics</h1>
            </div>
            <div class="hero-subtitle">
                    Supporting Growing Rifle Shooters
            </div>
            <a href="/login"><button class="hero-btn">Member Log In</button></a>
        </div>
            <div class="wave">
                <svg class="wave-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
            </div>
    </section>
    <section class="primary-section">
        <div class="row showcase">
            <div class="col-md-6 col-sm-12">
                <img src="../../static/images/stages.png" class="display-img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Catalogue shoots</h2>
                <p>Stores your past shooting history all in one place for easy viewing and review!</p>
            </div>
        </div>
    </section>
    <section class="secondary-section">
        <div class="row showcase">
            <div class="col-md-6 col-sm-12">
                <h2>Personalised Profiles</h2>
                <p>Showcase your own skills, but also watch how others have been performing.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="../../static/images/display_profile.png" class="display-img">
            </div>
        </div>
    </section>
    <section class="primary-section">
        <div class="row showcase">
            <div class="col-md-6 col-sm-12">
                <img src="../../static/images/display_visualisations.png" class="display-img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Detailed Visualisations</h2>
                <p>Targets, heatmaps, line graphs and more to visualise your performace.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="new-club hero-text mt-4">
            <div class="new-club-title">
                Are you an interested school or club?
            </div>
            <button class="hero-btn get-started-btn">
                Contact Us
            </button>
        </div>
        <div class="partner-title">
            <div class="partner-text">
                Proud Partners With
            </div>
            <hr class="break-line">
        </div>
        <div class="proud-partners">
            <div class="partner">
                <img src="../../static/images/sbhs_logo.svg" alt="sbhs_logo">
            </div>
            <div class="partner">
                <img src="../../static/images/smt_logo.png" alt="smt_logo">
            </div>
        </div>
    </section>
</body>
</html>