{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}
    <!-- Profile page to view shooter's performance -->
    <!--By Henry (user info table by Rishi (lines 108-152)  and gear settings by Dylan lines (233-319))-->
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous">
    </script>
    <!-- ChartJS modules -->
    <script src="https://unpkg.com/chart.js@3.3.2/dist/chart.js"></script>
    <!-- Editable Table-->
    <script type="text/javascript" src="../static/js/table.js"></script>
    <!--Username Autofill-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script type="text/javascript" src="../static/js/autofill.js" defer></script>

    <!--Import user id-->
    <meta id="my-data" data-userid="{{ user.id }}" data-clubid="{{ club.id }}" data-endroute="/submit_table">
    <!--Date range picker (see https://www.daterangepicker.com)-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script type="text/javascript">
        $(function () {


            function cbStages(start, end) {
                $('.selectStages span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            function cbSeason(start, end) {
                $('.selectSeason span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            // Predefined ranges for recent stages
            $('.selectStages').daterangepicker({
                startDate: moment('{{ season_time["start"] }}', 'DD:MM:YYYY'),
                endDate: moment('{{ season_time["end"] }}', 'DD:MM:YYYY'),
                "showDropdowns": true,
                ranges: {
                    'This Season': [moment('{{ season_time["start"] }}', 'DD:MM:YYYY'), moment('{{ season_time["end"] }}', 'DD:MM:YYYY')],
                    'This Year': [moment().startOf('year'), moment().endOf('year')],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                }
            }, cbStages);

            // Predefined ranges for stats page
            $('.selectSeason').daterangepicker({
                startDate: moment('{{ season_time["start"] }}', 'DD:MM:YYYY'),
                endDate: moment('{{ season_time["end"] }}', 'DD:MM:YYYY'),
                "showDropdowns": true,
                ranges: {
                    'This Season': [moment('{{ season_time["start"] }}', 'DD:MM:YYYY'), moment('{{ season_time["end"] }}', 'DD:MM:YYYY')],
                    'This Year': [moment().startOf('year'), moment().endOf('year')],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                }
            }, cbSeason);

            // Display the initial dates on the input box
            cbStages(moment('{{ season_time["start"] }}', 'DD:MM:YYYY'), moment('{{ season_time["end"] }}', 'DD:MM:YYYY'));
            cbSeason(moment('{{ season_time["start"] }}', 'DD:MM:YYYY'), moment('{{ season_time["end"] }}', 'DD:MM:YYYY'));


        });
    </script>

    <!--Scripts for season stats page-->
    <script src="../static/css-element-queries/src/ResizeSensor.js"></script>
    <script src=../static/heatmap.js-master/build/heatmap.min.js></script>
    <script src="../static/js/target_diagram.js"></script>

    <!--Box Plot Modules-->
    <script src="../static/node_modules/@sgratzl/chartjs-chart-boxplot/build/index.umd.js"></script>
    <script src="../static/js/ajax_season.js"></script>

    <style>
        body {
            overflow-y: scroll
        }

        table.recentShotsTable {
            font-size: 12px;
            table-layout: fixed;
            margin-bottom: 0px;
            overflow: hidden;
        }

        #recentShots {
            padding-left: 0px;
            padding-right: 0px;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .heatmap-canvas {
            pointer-events: none;
        }

        a.show-sheet {
            color: black;
        }

        a.show-sheet:hover {
            color: #3b5fbf;
        }

        .bar-indicator{
            display:none;
        }
        .htmx-request .bar-indicator{
            display:block;
        }
        .htmx-request.bar-indicator{
            display:block;
        }
    </style>

    <div class="container-fluid" style="padding-bottom: 50px">
        <a id="top"></a>
        {% if error == true %}
            <div class="alert alert-info mt-3" role="alert">
                We couldn't find a user that matched your search. Please try again.
            </div>
        {% endif %}
        <div class="row align-items-center pb-3">
            <div class="col-12 col-lg-3">
                <div class="card text-center bg-primary">
                    <div class="card-body">
                        <i class="fas fa-user-graduate fa-5x"></i>
                        <h4 class="card-text text-center">{{ user.fName }} {{ user.sName }}</h4>
                    </div>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-edit"></i>
                        Edit
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 pt-3">
                <table class="table table-bordered table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Shooter ID</th>
                        <th scope="col">Permit</th>
                        <th scope="col">Permit Expiry</th>
                        <th scope="col">Rifle Serial</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="shooterID">{{ user.username }}</td>
                        <td id="shooterID">{{ user.shooterID }}</td>
                        <td id="dob"><b>{{ user.permitType }}:</b> {{ user.permitNumber }}</td>
                        <td id="rifleSerial">{{ user.permitExpiry }}</td>
                        <td id="rifleSerial">{{ user.rifle_serial }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-responsive-xs">
                    <thead class="bg-primary">
                    <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">School Year</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="schoolID">{{ user.schoolID }}</td>
                        <td id="gradYr">{{ tableInfo["Grade"] }}</td>
                        <td id="email">{{ tableInfo["Email"] }}</td>
                        <td id="email">{{ user.mobile }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Shooter Info </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/update_user_info" method="post" role="form">
                        <div class="modal-body">
                            {{ form.csrf_token }}
                            {{ form.userID(value = user.id) }}
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        {{ form.fName.label }}
                                        {{ form.fName(class_="field form-control",
                                           placeholder="First Name",value = user.fName) }}
                                    </div>
                                    <div class="col">
                                        {{ form.sName.label }}
                                        {{ form.sName(class_="field form-control",
                                           placeholder="Last Name",value = user.sName) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-8">
                                        {{ form.schoolID.label }}
                                        {{ form.schoolID(class_="field form-control",
                                           placeholder="School ID",value = user.schoolID) }}
                                    </div>
                                    <div class="col">
                                        {{ form.gradYr.label }}
                                        <input class="field form-control" required type="number" min="2000" max="9999"
                                               id="gradYr" name="gradYr" , value= {{ user.gradYr }}>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        {{ form.email.label }}
                                        {{ form.email(class_="field form-control",
                                   placeholder="Email",value = user.email) }}
                                    </div>
                                    <div class="col">
                                        {{ form.mobile.label }}
                                        {{ form.mobile(class_="field form-control",
                                   placeholder="Mobile",value = user.mobile) }}
                                    </div>
                                </div>
                            </div>
                            {{ form.shooterID.label }}
                            {{ form.shooterID(class_="field form-control",
                               placeholder="ShooterID",value = user.shooterID) }}
                            <br>
                            {{ form.rifle_serial.label }}
                            {{ form.rifle_serial(class_="field form-control",
                               placeholder="Rifle Serial",value = user.rifle_serial) }}
                            <br>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        {{ form.permitType.label }}
                                        {{ form.permitType(class_="field form-control",
                                           placeholder="Permit Type",value = user.permitType) }}
                                    </div>
                                    <div class="col">
                                        {{ form.permitNumber.label }}
                                        {{ form.permitNumber(class_="field form-control",
                                           placeholder="Permit Number",value = user.permitNumber) }}
                                    </div>
                                    <div class="col">
                                        {{ form.permitExpiry.label }}
                                        {{ form.permitExpiry(class_="field form-control",
                                           placeholder="Permit Expiry",value = user.permitExpiry) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {#    Tab header (code from https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior)    #}
        {% if current_user.access >= 1 %}
            <form method="post">
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <label for="username"><i class="fas fa-search"></i></label>
                        <input id="username" placeholder="Find Shooter" class="user-searchbar w-50 h-100" autocomplete="off" name="user">
                        <button type="submit" id="user-searchbar-submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        {% endif %}
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rifle-settings-tab" data-toggle="tab" href="#rifle-settings" role="tab"
                       aria-controls="rifle-settings" aria-selected="false">Rifle Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="season-tab" data-toggle="tab" href="#season" role="tab" aria-controls="season"
                       aria-selected="false">Season Stats</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!--Overview tab-->
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="container-fluid p-4 bg-highlight-1" style="padding-left: 0px; padding-right: 0px;">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-background" style="min-width:300px;">
                                    <h5 class="card-header">Stages</h5>
                                    <div class="card-body">
                                        <label for = "time-picker">Stages older than</label>
                                        <input class = "field form-control" required type="date" name="start-date"
                                               value="{{ today  }}" hx-target="#stages-container" id = "time-picker"
                                               hx-get="/get_stages?userID={{ user.id }}&page=1" hx-trigger="change">
                                        <br>
                                        <div style="min-height: 300px" hx-get="/get_stages?userID={{ user.id }}&page=1" hx-trigger="load"
                                             hx-include="[name='start-date']" id="stages-container" hx-indicator="#indicator">
                                        </div>
                                        <!--https://loading.io/spinner/bars/-bounce-bar-column-chart-equalizer-histogram-rectangle-block-progress-facebook -->
                                        <img id="indicator" class="bar-indicator mx-auto" style="max-height: 50px"
                                             src="../../static/images/bars.svg"/>
                                    </div>
                                    <a href="#top">
                                        <div class="card-footer">Back to top</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="card bg-background" style="height: 400px">
                                    <h5 class="card-header">Total Score & Consistency</h5>
                                    <div class = card-body>
                                        <!--line graph is shown here-->
                                        <script type="text/javascript" src="../static/js/profile/overview_graph.js"></script>
                                        <img id="graph-indicator" class="bar-indicator mx-auto" style=" margin-top: 120px;
                                            max-height: 50px" src="../../static/images/bars.svg"/>
                                        <canvas style="background-color:inherit;" id="lineSTDEV"></canvas>
                                    </div>
                                </div>
                                <br>
                                <div class="card bg-background" style="height: 280px">
                                    <h5 class="card-header">Season Shot Data</h5>
                                    <div class = card-body>
                                        <div hx-get="/profile/get_season_shot_data?userID={{ user.id }}&start={{ season_time['start'] }}&end={{ season_time['end'] }}"
                                             hx-trigger="load"
                                             hx-indicator="#shot-indicator">
                                        </div>
                                        <img id="shot-indicator" class="bar-indicator mx-auto pt-5" style="max-height: 100px"
                                             src="../../static/images/bars.svg"/>
                                    </div>
                                    <text class="card-header bg-light">Avr. Shots per Session rounded to 2.d.p</text>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gear Club Tab (By Dylan)-->
                <div class="tab-pane fade" id="rifle-settings" role="tabpanel" aria-labelledby="rifle-settings-tab">
                    <div class="container-fluid p-4 bg-highlight-1">
                        <div class="card shadow border-0">
                            <h5 class="card-header text-center">
                                Gear Settings
                            </h5>
                            <div class="card-body">
                                <div>
                                    <table class="table table-bordered editableTable">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>Butt Length</th>
                                            <th>Butt Height</th>
                                            <th>Sight Hole</th>
                                            <th>Sling Point</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="rifle_buttLength">{{ user.rifle_buttLength }}</td>
                                            <td id="rifle_buttHeight">{{ user.rifle_buttHeight }}</td>
                                            <td id="rifle_sightHole">{{ user.rifle_sightHole }}</td>
                                            <td id="rifle_slingPointLength">{{ user.rifle_slingPointLength }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-2 mb-3" id="settings-button">
                                        {% if current_user.username != "preview" %}
                                            <button class="btn btn-primary btn-block edit h-100">
                                                <i class="fas fa-edit"></i>
                                                Edit
                                            </button>
                                        {% else %}
                                            <button class="btn btn-dark disabled btn-block h-100">
                                                <i class="fas fa-edit"></i>
                                                Editing Unavailable
                                            </button>
                                        {% endif %}
                                        <button type="button" class="btn btn-warning btn-lg btn-block submit h-100"
                                                id="submit" style="display: none">
                                            <i class="fas fa-save"></i>
                                            <h5>Save</h5>
                                        </button>
                                    </div>
                                    <div class="col-12 col-lg-10" style="height: inherit; overflow-y: scroll;">
                                        <table class="table table-bordered editableTable" id="stage-table">
                                            <thead class="thead-dark" style="position: sticky; top: 0;">
                                            <tr>
                                                <th>Distance</th>
                                                <th>Elevation</th>
                                                <th>Ring Size</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>300m</th>
                                                <td id="elevation_300m">{{ user.elevation_300m }}</td>
                                                <td id="ringSize_300m">{{ user.ringSize_300m }}</td>
                                            </tr>
                                            <tr>
                                                <th>400m</th>
                                                <td id="elevation_400m">{{ user.elevation_400m }}</td>
                                                <td id="ringSize_400m">{{ user.ringSize_400m }}</td>
                                            </tr>
                                            <tr>
                                                <th>500m</th>
                                                <td id="elevation_500m">{{ user.elevation_500m }}</td>
                                                <td id="ringSize_500m">{{ user.ringSize_500m }}</td>
                                            </tr>
                                            <tr>
                                                <th>600m</th>
                                                <td id="elevation_600m">{{ user.elevation_600m }}</td>
                                                <td id="ringSize_600m">{{ user.ringSize_600m }}</td>
                                            </tr>
                                            <tr>
                                                <th>700m</th>
                                                <td id="elevation_700m">{{ user.elevation_700m }}</td>
                                                <td id="ringSize_700m">{{ user.ringSize_700m }}</td>
                                            </tr>
                                            <tr>
                                                <th>800m</th>
                                                <td id="elevation_800m">{{ user.elevation_800m }}</td>
                                                <td id="ringSize_800m">{{ user.ringSize_800m }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Season Stats-->
                <div class="tab-pane fade" id="season" role="tabpanel" aria-labelledby="season-tab">
                    <div class="container-fluid p-4 bg-highlight-1">
                        <div class="row" id="seasonRow1">
                            <div class="col-12 col-xl-5">
                                <div class="card">
                                    <h5 class="card-header">Heatmap</h5>
                                    <div class="card-body" id="heatmapCard">
                                        <div style="display: flex; justify-content: space-between">
                                            <div class="selectSeason pb-2"
                                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; display:inline;">
                                                <i class="fa fa-calendar"></i>&nbsp;
                                                <span id="date-selector-season"></span> <i class="fa fa-caret-down"></i>
                                            </div>
                                            <div class="dropdown pl-2">
                                                <button class="btn btn-secondary" style="width: 100px" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span id="select-range-span">300m</span><i class="fa fa-caret-down pl-1"
                                                                                               style="color: white;"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item"
                                                       onclick="document.getElementById('select-range-span').innerHTML = '300m'">300m</a>
                                                    <a class="dropdown-item"
                                                       onclick="document.getElementById('select-range-span').innerHTML = '400m'">400m</a>
                                                    <a class="dropdown-item"
                                                       onclick="document.getElementById('select-range-span').innerHTML = '500m'">500m</a>
                                                    <a class="dropdown-item"
                                                       onclick="document.getElementById('select-range-span').innerHTML = '600m'">600m</a>
                                                    <a class="dropdown-item"
                                                       onclick="document.getElementById('select-range-span').innerHTML = '700m'">700m</a>
                                                    <a class="dropdown-item"
                                                       onclick="document.getElementById('select-range-span').innerHTML = '800m'">800m</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="season-spinner mx-auto" style="max-height: 50px; display: block"
                                             src="../../static/images/bars.svg"/>
                                        <div id="heatMapDiv">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7">
                                <div class="card">
                                    <h5 class="card-header">
                                        Box Plot
                                    </h5>
                                    <div class="card-body">
                                        <img class="season-spinner mx-auto" style="max-height: 50px; display: block"
                                             src="../../static/images/bars.svg"/>
                                        <div id="boxPlotDiv" style="display: flex; flex-direction: column; justify-content: space-around">
                                            <div class="alert alert-secondary" id="boxAlert" role="alert" style="display: none;">
                                                There aren't enough stages to show a box plot. Please add more stages at the <a
                                                    href="/upload"><b><u>upload page</u></b></a> or select a different timeframe.
                                            </div>
                                            <canvas id="boxPlot"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-4">
                                    <h5 class="card-header">Notable stages</h5>
                                    <div class="card-body">
                                        <img class="season-spinner mx-auto" style="max-height: 50px; display: block"
                                             src="../../static/images/bars.svg"/>
                                        <div id="bestWorstCol"
                                            style="display: flex; flex-direction: column; justify-content: space-around">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
