{% extends "base.html" %}
{% block sidebar %}{% endblock %}
{% block page_content %}
    <style>
        .login-card {
          top: 50%;
          left: 50%;
          width:40%;
          min-width: fit-content;
          transform: translate(-50%, 0);
          border-radius: 25px;
        }
        #content{
            margin: 0;
            padding: 0;
            width: 100%;
            background: #6086e5;
        }
    </style>
    <div class="container-fluid">
        <div style="padding-top:10%">
             <div class="card login-card shadow">
                 <div class="login-container justify-content-center">
                     {% block login_content %}
                     {% endblock %}
                 </div>
             </div>
        </div>
    </div>
{% endblock %}
