{% extends "base.html" %}
{% block sidebar %}{% endblock %}
{% block page_content %}
    <style>
        #content{
            margin: 0;
            padding: 0;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="../../static/css/user_auth.css">
    <div class="container-fluid">
        <div style="padding-top:10%">
             <div class="card login-card shadow">
                 <div class="login-container justify-content-center">
                     {% block login_content %}
                     {% endblock %}
                 </div>
             </div>
        </div>
    </div>
{% endblock %}
