{% extends "base.html" %}
{% set active_page = "Home" %}
{% block page_title %} Home {% endblock %}
{% block page_content %}
    <div class = "container-fluid">

        <div class="card mx-auto text-center w-75">

            <h1 class="center">Sign In</h1>

            <!-- oninput checks if passwords are matching -->
            <form name="signup_form" role = "form" method="post">

                {{ form.csrf_token }}
                <div  class = "form-group px-4">
                    <label for="username">Username or Email</label>
                    {{ form.username(class_="field form-control")}}
                    {% if usernameError %}
                        <p>Invalid Username</p> <!--TODO integrate with bootstrap error message-->
                    {% endif %}

                    <label for="password">Password</label>
                    {{ form.password(class_="field form-control", minlength="5")}}
                    {% if passwordError %}
                        <p>Incorrect Password</p>
                    {% endif %}
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    {{ form.submit(class_="btn") }}
                </div>
            </form>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <a href="/user/signup">Sign Up</a>
        </div>
    </div>
{% endblock %}