<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %} | ProAnalytics</title>
    <script src="https://kit.fontawesome.com/de048b62de.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/userAuth.css">
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
</head>
<body>
    <main>
        <div class="container-fluid">
             <div class="card login-card shadow">
                 <div class="login-container justify-content-center">
                     {% block page_content %}
                     {% endblock %}
                 </div>
             </div>
        </div>
    </main>
</body>
</html>