{% extends "userAuth/noNavbarBase.html" %}
{% set active_page = "Password Reset" %}
{% block page_title %} Password Reset {% endblock %}
{% block login_content %}
<h2 class="text-center my-5">Password reset request</h2>
<div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <div class="{{ category }}"><b>{{ message }}</b></div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<!-- oninput checks if passwords are matching -->
<form name="signup_form" role = "form" method="post">

    {{ form.csrf_token }}
    <div  class = "form-group px-4">
        {{ form.password(class_="field form-control form-control-lg",placeholder="Password")}}
        {{ form.password2(class_="field form-control form-control-lg",placeholder="Confirm Password")}}
        {{ form.submit(class_="btn btn-primary btn-lg btn-block") }}
    </div>
</form>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
{% endblock %}