{% extends "base.html" %}
{% set active_page = "User List" %}
{% block page_title %} User List {% endblock %}
{% block page_content %}
    <script type="text/javascript" src="../static/js/userList.js"></script>
    <div class="container-fluid">
        <a type="button" class="btn btn-primary" data-toggle="modal" style="display: none">
            Make Admin
        </a>
        <div class="row">
            <div class="col-12">
                <div class="card h-100 justify-content-center">
                    <div class="card-header text-center">
                        <h1>Accounts List</h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="text-center justify-content-center table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">School</th>
                                        <th scope="col">Student ID</th>
                                        <th scope="col">Name</th>
                                        <th SCOPE="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Manage Account</th>
                                     </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td scope="row">{{ user.school }}</td>
                                            <td>{{ user.schoolID }}</td>
                                            <td>{{ user.fName }} {{ user.sName }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col">
                                                        {% if not user.isActive %}
                                                            <!-- Button trigger modal -->
                                                            <a type="button" id="setActive{{ user.id }}" class="btn btn-secondary" href="javascript:setActive('#setActive{{ user.id }}','{{ user.id }}','true')">
                                                                Activate Account
                                                            </a>
                                                        {% else  %}
                                                            <a type="button" id="setActive{{ user.id }}" class="btn btn-danger" data-toggle="modal" data-target="#RemoveModal{{ user.id }}">
                                                                Delete account
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col">
                                                        {% if not user.isAdmin %}
                                                            <!-- Button trigger modal -->
                                                            <a type="button" id ="setAdmin{{ user.id }}" class="btn btn-primary" data-toggle="modal" data-target="#AdminModal{{ user.id }}">
                                                                Make Admin
                                                            </a>
                                                        {% else  %}
                                                            <a type="button" id="setAdmin{{ user.id }}" class="btn btn-danger" href="javascript:setAdmin('#setAdmin{{ user.id }}','{{ user.id }}','true')">
                                                                Revoke Admin Access
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Delete Account Modal -->
                                            <div class="modal fade text-black" id="RemoveModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{ user.fName }} {{ user.sName }}'s account?</p>
                                                            <p>Deleted accounts can be recovered up to 14 days after deletion by reactivating the account on this page.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-danger"
                                                               href="javascript:setActive('#setActive{{ user.id }}','{{ user.id }}','false')">
                                                                Make Admin
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- Admin Account Modal -->
                                            <div class="modal fade" id="AdminModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Make Admin</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{ user.fName }} {{ user.sName }}'s an admin?</p>
                                                            <p>As an admin they will be able to view all rifle shooter's information, and manage accounts.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-primary"
                                                               href="javascript:setAdmin('#setAdmin{{ user.id }}','{{ user.id }}','true')">
                                                                Make Admin
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <!--TODO add submit style-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
