{% extends "base.html" %}
{% set active_page = "User List" %}
{% block page_title %} User List {% endblock %}
{% block page_content %}
    <style>
        .mybtn{
            width: 7rem;
        }
    </style>
    <script type="text/javascript" src="../static/js/userList.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card h-100 justify-content-center">
                    <div class="card-header text-center">
                        <h1>Accounts List</h1>
                    </div>
                    <div class="card-body">
                        <div class = row>
                            <div class="col-12 col-lg-6">
                                <label for="file">Attendance File</label>
                                <form method='POST' action="" enctype="multipart/form-data">
                                  <p><input type="file" name="file" id="file" style="border: black"><input type="submit" value="Submit"></p>
                                </form>
                            </div>
                            <div class="col-12 col-lg-6">
                                Email Report system
                                <a class="btn btn-primary" href="#" role="button">Link</a>
                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive table-striped">
                            <table class="text-center justify-content-center table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope='col'>School Year</th>
                                        <th scope="col">Student ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Manage Account</th>
                                     </tr>
                                </thead>
                                <tbody id="tableBody">
                                    {% for user in users %}
                                        <tr id="row{{ user.id }}">
                                            <td>{{ user.fName }} {{ user.sName }}</td>
                                            <td>{{ user.schoolYr }}</td>
                                            <td>{{ user.schoolID }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                 {% if user.access == 0 %}
                                                    <a type="button" class="btn btn-secondary mybtn" id="access{{ user.id }}"
                                                       href="javascript:setAdmin('#access{{ user.id }}','{{user.id}}')">
                                                        <i class="fas fa-lock"></i>
                                                        Student
                                                    </a>
                                                 {% endif %}
                                                 {% if user.access == 1%}
                                                    <a type="button" class="btn btn-dark mybtn" id="access{{ user.id }}"
                                                       href="javascript:setAdmin('#access{{ user.id }}','{{user.id}}')">
                                                        <i class="fas fa-unlock"></i>
                                                        Coach
                                                    </a>
                                                 {% endif %}
                                                {% if user.access == 2 %}
                                                    <a type="button" class="btn btn-dark mybtn disabled" id="access{{ user.id }}">
                                                        <i class="fas fa-user-shield"></i>
                                                       Admin
                                                    </a>
                                                 {% endif %}
                                                <a type="button" user="{{ user.id }}" class="btn btn-danger" data-toggle="modal" data-target="#RemoveModal{{ user.id }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- Delete Account Modal -->
                                            <div class="modal fade text-black" id="RemoveModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{ user.fName }} {{ user.sName }}'s account?</p>
                                                            <!--<p>Deleted accounts can be recovered up to 14 days after deletion by reactivating the account on this page.</p>-->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-danger"
                                                               href="javascript:deleteAccount('{{ user.id }}')">
                                                                Delete Account
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- Admin Account Modal -->
                                            <div class="modal fade" id="AdminModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Make Admin</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{ user.fName }} {{ user.sName }}'s an admin?</p>
                                                            <p>As an admin they will be able to view all rifle shooter's information, and manage accounts.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-primary"
                                                               href="javascript:setAdmin('#setAdmin{{ user.id }}','{{ user.id }}','true')">
                                                                Make Admin
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <!--TODO add submit style-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
