{% extends "user_auth/base_no_navbar.html" %}
{% set active_page = "Login" %}
{% block page_title %} Login {% endblock %}
{% block login_content %}
<h2 class="text-center my-5">Account Login</h2>
<div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <div class="{{ category }}"><b>{{ message }}</b></div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<!-- oninput checks if passwords are matching -->
<form name="signup_form" role = "form" method="post">

    {{ form.csrf_token }}
    <div  class = "form-group px-4">
        {{ form.username(class_="field form-control form-control-lg",placeholder="Username")}}
        {% if usernameError %}
            <p>Invalid Username</p> <!--TODO integrate with bootstrap error message-->
        {% endif %}
        <br>
        {{ form.password(class_="field form-control form-control-lg",placeholder="Password")}}
        {% if passwordError %}
            <p>Incorrect Password</p>
        {% endif %}
        <br>
        {{ form.remember_me() }} {{ form.remember_me.label }}
        {{ form.submit(class_="btn btn-primary btn-lg btn-block") }}
    </div>
</form>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
<p class="text-center">Don't have an account?
    <a href="/register">Sign Up</a>
</p>
<p class="text-center">
    Forgot Password?
    <a href="/requestResetPassword">Click to Reset</a>
</p>
{% endblock %}