{% extends "base.html" %}
{% set active_page = "User List" %}
{% block page_title %} User List {% endblock %}
{% block page_content %}

    <!--Date range picker (see https://www.daterangepicker.com)-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript">
    $(function() {


        function cbDates(start, end) {
            $('.selectSeasonDate span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }


        $('.selectSeasonDate').daterangepicker({
            startDate: moment('{{ season_time["start"] }}', 'DD:MM:YYYY'),
            endDate: moment('{{ season_time["end"] }}', 'DD:MM:YYYY'),
            "showDropdowns": true,
            ranges: {
               'This Year': [moment().startOf('year'), moment().endOf('year')],
            }
        }, cbDates);

        // Display the initial dates on the input box
        cbDates(moment('{{ season_time["start"] }}', 'DD:MM:YYYY'), moment('{{ season_time["end"] }}', 'DD:MM:YYYY'));


    });
    </script>

    <style>
        .mybtn{
            width: 7rem;
        }
    </style>

    <script type="text/javascript" src="../static/js/user_list.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card h-100 justify-content-center">
                    <div class="card-header text-center">
                        <h1>Accounts List</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Emailing System
                                    <span class="spinner-border spinner-border-sm text-primary"
                                        id="spinner" role="status" style="display: none;">
                                    </span>
                                    <span style="display: none" id="tick">
                                        <i class="fa fa-check ml-2" aria-hidden="true" style="color: lawngreen;"></i>
                                        <span style="font-size: 16px; color: lawngreen">Changes Saved</span>
                                    </span>
                                </h3>
                                <div id="emailContext" data-mail="{{ mail_setting }}">
                                    <div style="display: none">
                                        When new stages are uploaded students will <b>not</b> be notified.
                                    </div>
                                    <div style="display: none">
                                        When a stage is uploaded a prompt will appear asking the uploader if they want to send a notification to the student.
                                    </div>
                                    <div style="display: none">
                                        When new stages are uploaded students will <b>automatically</b> be sent an email.
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Options</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-7">
                                                <label>Send Notification Email to Students:</label>
                                            </div>
                                            <div class="col-5">
                                                <select class="form-control" aria-label="Default select example">
                                                  <option value="0" {{'selected' if mail_setting == 0}}>Never</option>
                                                  <!--<option value="1" disabled><s>Prompt Coaches</s></option>-->
                                                  <option value="2" {{'selected' if mail_setting == 2}}>Always</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                    </div>
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="col-4 pr-0">
                                                Change Season Date:
                                            </div>
                                            <div class="col-8 pl-0">
                                                <!--Input Dates-->
                                                <div class="selectSeasonDate mx-4" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                    <i class="fa fa-calendar"></i>&nbsp;
                                                    <span id="date-selector"></span> <i class="fa fa-caret-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-3 mx-3">
                            <table class="text-center justify-content-center table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope='col'>School Year</th>
                                        <th scope="col">Student ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Manage Account</th>
                                     </tr>
                                </thead>
                                <tbody id="tableBody">
                                    {% for user in users %}
                                        <tr id="row{{ user.id }}">
                                            <td>{{ user.fName }} {{ user.sName }}</td>
                                            <td>{{ user.schoolYr }}</td>
                                            <td>{{ user.schoolID }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% if user.access == 0 %}
                                                    <a type="button" class="btn btn-secondary mybtn" id="access{{ user.id }}"
                                                       href="javascript:setAdmin('#access{{ user.id }}','{{user.id}}')">
                                                        <i class="fas fa-lock"></i>
                                                        Student
                                                    </a>
                                                {% elif user.access == 1%}
                                                    {% if user.username == 'preview' %}
                                                        <a type="button" class="btn btn-info mybtn disabled" id="access{{ user.id }}">
                                                        <i class="fas fa-eye"></i>
                                                        Preview
                                                    </a>
                                                    {% else %}
                                                        <a type="button" class="btn btn-dark mybtn" id="access{{ user.id }}"
                                                           href="javascript:setAdmin('#access{{ user.id }}','{{user.id}}')">
                                                            <i class="fas fa-unlock"></i>
                                                            Coach
                                                        </a>
                                                    {% endif %}
                                                {% elif user.access == 2 %}
                                                    <a type="button" class="btn btn-dark mybtn disabled" id="access{{ user.id }}">
                                                        <i class="fas fa-user-shield"></i>
                                                       Admin
                                                    </a>
                                                 {% endif %}
                                                <a type="button" user="{{ user.id }}" class="btn btn-danger" data-toggle="modal" data-target="#RemoveModal{{ user.id }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- Delete Account Modal -->
                                            <div class="modal fade text-black" id="RemoveModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{ user.fName }} {{ user.sName }}'s account?</p>
                                                            <!--<p>Deleted accounts can be recovered up to 14 days after deletion by reactivating the account on this page.</p>-->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-danger"
                                                               href="javascript:deleteAccount('{{ user.id }}')">
                                                                Delete Account
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- Admin Account Modal -->
                                            <div class="modal fade" id="AdminModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Make Admin</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                             </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{ user.fName }} {{ user.sName }}'s an admin?</p>
                                                            <p>As an admin they will be able to view all rifle shooter's information, and manage accounts.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-primary"
                                                               href="javascript:setAdmin('#setAdmin{{ user.id }}','{{ user.id }}','true')">
                                                                Make Admin
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <!--TODO add submit style-->
                        </div>
                    <!-- Deprecated Feature
                        {% if missingUsers and newUsers %}
                            <script type="text/javascript">
                                    $(window).on('load', function() {
                                        $('#rollManagement').modal('show');
                                    });
                            </script>
                             <div class="modal fade" id="rollManagement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Manage Users</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                             </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h5>New Users</h5>
                                            {% for user in newUsers %}
                                                <div>{{ user.fName }} {{ user.sName }}</div>
                                                 <a type="button" id="create{{ user.schoolID }}" class="btn btn-primary"
                                                   href="javascript:createAccount('#create{{ user.schoolID }}','{{ user }}')">
                                                    Make Admin
                                                </a>
                                            {% endfor %}
                                            <hr>
                                            <h5>Users not found in roll</h5>
                                            {% for user in missingUsers %}
                                                <div class="row justify-content-around">
                                                    <div>{{ user.fName }} {{ user.sName }}</div>
                                                    <div>Test</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    -->
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
