{% extends "base.html" %}
{% set active_page = "overview" %}
{% block page_title %} Overview {% endblock %}
{% block page_content %}

    <!-- ChartJS modules -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<div class="container">
    <div class="col-6">
        <!-- Henry's entry to create Recent Shoots panel  -->
    </div>
    <div class="col-6>">
        <div class="row">
            <div class="cols-3">
                <div class="card shadow border-0 justify-content-center">
                        <div class = "card-title text-center">
                            <h2>Stats</h2>
                        </div>
                        <div class = "card-body">
                            <p>Mean (x̅): 3.0</p>
                            <p>Median (x̃): 5.0</p>
                            <p>Standard Deviation (σx): 2.0</p>
                        </div>
                </div>
            </div>
            <div class="cols-3">
                <script type="text/javascript" src="../static/js/profileGraphs.js"></script>
                <canvas id="attendance"></canvas>
                <script>
                    let myAttendance = new Attendance();
                </script>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <meta id="my-data" data-dates="{{dates}}">
            <canvas id="lineSTDEV"></canvas>
                    <script>
                        var dateData = $('#my-data').data('dates');
                        let myGraph= new lineGraph(dateData, {{ scores }});
                    </script>
        </div>
    </div>
</div>

{% endblock %}