{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-6">
                <div class="card-body shadow">
                    <h5 class="card-title">Gear Settings</h5>
                    <table class="table table-bordered table-sm table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <td>Item</td>
                                <td>Details</td>
                                <td>School/Self</td>
                            </tr>
                        </thead>
                        {% for key, value in equipmentInfo.items() %}
                        <tbody>
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                                <td>UNKNOWN</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="col-6">
                <div class="card-body shadow">
                    <h5 class="card-title">Elevation Settings</h5>
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <td>Range</td>
                                <td>PPU Elevation</td>
                                <td>ADI Elevation</td>
                                <td>Foresight Ring</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>300m</td>
                                <td>{{ elevationInfo["PPU300m"] }}</td>
                                <td>{{ elevationInfo["ADI300m"] }}</td>
                                <td>{{ elevationInfo["Fore300m"] }}</td>
                            </tr>
                            <tr>
                                <td>400m</td>
                                <td>{{ elevationInfo["PPU400m"] }}</td>
                                <td>{{ elevationInfo["ADI400m"] }}</td>
                                <td>{{ elevationInfo["Fore400m"] }}</td>
                            </tr>
                            <tr>
                                <td>500m</td>
                                <td>{{ elevationInfo["PPU500m"] }}</td>
                                <td>{{ elevationInfo["ADI500m"] }}</td>
                                <td>{{ elevationInfo["Fore500m"] }}</td>
                            </tr>
                            <tr>
                                <td>600m</td>
                                <td>{{ elevationInfo["PPU600m"] }}</td>
                                <td>{{ elevationInfo["ADI600m"] }}</td>
                                <td>{{ elevationInfo["Fore600m"] }}</td>
                            </tr>
                            <tr>
                                <td>700m</td>
                                <td>{{ elevationInfo["PPU700m"] }}</td>
                                <td>{{ elevationInfo["ADI700m"] }}</td>
                                <td>{{ elevationInfo["Fore700m"] }}</td>
                            </tr>
                            <tr>
                                <td>800m</td>
                                <td>{{ elevationInfo["PPU800m"] }}</td>
                                <td>{{ elevationInfo["ADI800m"] }}</td>
                                <td>{{ elevationInfo["Fore800m"] }}</td>
                            </tr>
                            <tr>
                                <td>500y</td>
                                <td>{{ elevationInfo["PPU500y"] }}</td>
                                <td>{{ elevationInfo["ADI500y"] }}</td>
                                <td>{{ elevationInfo["Fore500y"] }}</td>
                            </tr>
                            <tr>
                                <td>600y</td>
                                <td>{{ elevationInfo["PPU600y"] }}</td>
                                <td>{{ elevationInfo["ADI600y"] }}</td>
                                <td>{{ elevationInfo["Fore600y"] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

{% endblock %}