{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}
<!-- Profile page to view shooter's performance -->
<!-- Rishi and Henry-->
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
    <!-- ChartJS modules -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<style>
body {
    overflow-y: scroll
}
</style>
    <div class="container-fluid" style="padding-bottom: 50px">
        <div class="jumbotron jumbotron-fluid">
            <div class="row">
                <div class="col-2 pl-5">
                    <div class="card">
                        <img class="card-img-top" src=".\.\static\images\blank-profile.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-text text-center">First Last</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">SID</th>
                                    <th scope="col">DOB</th>
                                    <th scope="col">Rifle Serial</th>
                                    <th scope="col">Student ID</th>
                                    <th scope="col">Grade</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0000</td>
                                    <td>01/02/2003</td>
                                    <td>01234</td>
                                    <td>0478593402</td>
                                    <td>9</td>
                                    <td>example@someemail.com</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">Permit</th>
                                    <th scope="col">Expiry</th>
                                    <th scope="col">Sharing</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Roll Class</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Minors</td>
                                    <td>01/02/2021</td>
                                    <td>Yes</td>
                                    <td>0478593402</td>
                                    <td>9E</td>
                                    <td>0478593402</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {#    Tab header (code from https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior)    #}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="rifle-settings-tab" data-toggle="tab" href="#rifle-settings" role="tab" aria-controls="rifle-settings" aria-selected="false">Rifle Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="compare-tab" data-toggle="tab" href="#compare" role="tab" aria-controls="compare" aria-selected="false">Compare</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="container">
                    <div class="col-6">
                        <!-- Henry's entry to create Recent Shoots panel  -->
                    </div>
                    <div class="col-6>">
                        <div class="row">
                            <div class="cols-3">
                                <div class="card shadow border-0 justify-content-center">
                                        <div class = "card-title text-center">
                                            <h2>Stats</h2>
                                        </div>
                                        <div class = "card-body">
                                            <p>Mean (x̅): 3.0</p>
                                            <p>Median (x̃): 5.0</p>
                                            <p>Standard Deviation (σx): 2.0</p>
                                        </div>
                                </div>
                            </div>
                            <div class="cols-3">
                                <canvas id="attendance"></canvas>
                                <script>
                                    var ctx = document.getElementById('attendance').getContext('2d');
                                    console.log(ctx);
                                    var attendance = new Chart(ctx, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        data: [155, 13],
                                                        backgroundColor: [
                                                            'rgba(91, 188, 228, 0.85)',
                                                            'rgba(139, 69, 19, 0.85)',
                                                        ],
                                                        label: 'Dataset 1'
                                                    }],
                                                    labels: [
                                                        'Attended',
                                                        'Not Attended'
                                                    ]
                                                },
                                                options: {
                                                    responsive: true,
                                                    title: {
                                                            display: true,
                                                            text: 'Attendance'
                                                        },
                                                    plugins: {
                                                        legend: {
                                                            position: 'top',
                                                        },
                                                    },
                                                    animation: {
                                                        animateScale: true,
                                                        animateRotate: true
                                                    }
                                                }
                                                });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <meta id="my-data" data-dates="{{dates}}">
                            <canvas id="lineSTDEV"></canvas>
                                    <script>
                                        var ctx = document.getElementById('lineSTDEV').getContext('2d');
                                        var dateData = $('#my-data').data('dates');
                                        console.log(dateData);
                                        var barChart = new Chart(ctx, {
                                            type: "line",
                                            data: {
                                                    labels: dateData,
                                                    datasets: [{
                                                        label: 'Averages',
                                                        backgroundColor: 'rgba(255,0,0,0)',
                                                        borderColor: 'rgba(255,0,0,1)',
                                                        borderWidth: 1,
                                                        fill: false,
                                                        data: {{ scores }}
                                                    }]},
                                                options: {
                                                        responsive: true,
                                                        title: {
                                                                display: true,
                                                                text: 'ot Line'
                                                            },
                                                        plugins: {
                                                        },
                                                        scales: {
                                                            yAxes: [{
                                                                min: 0,
                                                                ticks: {
                                                                    min: 0,
                                                                    beginAtZero:true
                                                                }
                                                            }]
                                                        }
                                                }
                                                });
                                    </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="rifle-settings" role="tabpanel" aria-labelledby="rifle-settings-tab">
                <script type="text/javascript" src="../static/js/gearSettings.js"></script>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card h-100 justify-content-center">
                                <div class="card-header text-center">
                                    <h1>Accounts List</h1>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="gearTable" class="text-center justify-content-center table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Equipment</th>
                                                    <th>Value</th>
                                                 </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="compare" role="tabpanel" aria-labelledby="compare-tab">
                Compare
            </div>
        </div>
    </div>
{% endblock %}