{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-6">
                <div class="card-body shadow">
                    <h5 class="card-title">Gear Settings</h5>
                    <table class="table table-bordered table-sm table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <td>Item</td>
                                <td>Details</td>
                                <td>School/Self</td>
                            </tr>
                        </thead>
                        {% for key, value in info.items() %}
                        <tbody>
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                                <td>UNKNOWN</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="col-6">
                <div class="card-body shadow">
                    <h5 class="card-title">Elevation Settings</h5>
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <td>Range</td>
                                <td>PPU Elevation</td>
                                <td>ADI Elevation</td>
                                <td>Foresight Ring</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>300m</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>400m</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>500m</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>600m</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>700m</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>800m</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>500y</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>600y</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

{% endblock %}