{% extends "plotsheet.html" %}
        {% block stat_table %}
             <div class="card shadow border-0">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Stat</th>
                          <th scope="col">This Stage</th>
                          <th scope="col">Avr. (Season)</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr>
                          <th scope="row">Avr. Score</th>
                          <td>{{ data['stageStats'][0] }}</td>
                          <td>{{ data['seasonStats'][0] }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Median Score</th>
                          <td>{{ data['stageStats'][1] }}</td>
                          <td>{{ data['seasonStats'][1] }}</td>
                        </tr>
                        <tr>
                          <th scope="row">S.T.D Score</th>
                          <td>{{ data['stageStats'][2] }}</td>
                          <td>{{ data['seasonStats'][2] }}</td>
                        </tr>
                     <tr>
                          <th scope="row">Group Size</th>
                          <td>{{ data['stageStats'][3] }}</td>
                          <td>{{ data['seasonStats'][3] }}</td>
                        </tr>
                     <tr>
                          <th scope="row">Duration</th>
                          <td>{{ data['stageStats'][4] }}</td>
                          <td>{{ data['seasonStats'][4] }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        {% endblock %}
    {% block notes %}
    <h5>
        Notes
    </h5>
    <hr>
    <p> {{ stage.notes }}</p>
{% endblock %}