.hero-title{
    font-size: 86px;
}

.hero-title{
    display: flex;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-logo{
    height: 86px;
}

@media (min-width: 768px) {
    .hero-text {
        padding-top: 100px
    }
    .hero-carousel {
        min-width: 600px;
        min-height: 300px;
    }
}

@media (max-width: 768px) {
    .hero-carousel {
        width: 100vw;
    }
}

.carousel-inner > .carousel-item {
   height: 270px;
}