//Modifying bootstrap css

//Color palette where 1 is the primary color
$palette-1: #86c232;
$palette-2: #72c213;
$palette-3: #6B6E70;
$palette-4: #474B4F;
$palette-5: #222629;

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary:#294F65;
$bg-secondary:#1A3240;

$txt-color: black;
/*
$theme-colors: (
  "primary": $palette-1,
  "nav-color-bg": $palette-4,
  "nav-color-txt": $txt-color
);


//Alerts
.alert-secondary {
  color: #121415;
  background-color: $palette-4 !important;
  border-color: $palette-4 !important;
}
.alert-secondary hr {
  border-top-color: #b4b5b6;
}
 */

@import "../../../node_modules/bootstrap/scss/bootstrap";

//Non-bootstrap css

//General

/*
body{
    background-color: $palette-3;
}

 */

label{
    color: $txt-color;
}

h1, h2, h3, h4, h5, h6, p, th, td {
    color: $txt-color;
}

/*
.card {
    background-color: $palette-4;
}
.card-header{
    background-color: $palette-5;
}

.input-group-text{
    background-color: $palette-4;
    color: #fff;
    border: 1px solid $palette-5;
}

.text-primary{
    color: $palette-1;
}

.text-secondary{
    color: $palette-2;
}
#text-primary {
    color: $palette-1;
}

.jumbotron-fluid{
    background-color: $palette-4;
}

.fa-clock{
    color: white;
}
 */

//Upload page

.fileinput-remove-button{
    background-color: #ef4836;
}
.fileinput-remove-button:hover{
    background-color: #cc3e2f;
}
.fileinput-upload-button{
    background-color: $palette-1;
}
.fileinput-upload-button:hover{
    background-color: $palette-2;
}
.btn-file{
    color: white;
    background-color: $palette-4;
    border-color: $palette-4;
}
.btn-file:hover{
    color: white;
    background-color: $palette-5;
    border-color: $palette-5;
}

//Jumbotron
#jumboTitle{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

//Sidebar

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --transition-speed: 600ms;
}

main {
    margin-left: 12rem;
    padding: 1rem;
}

.sidebar{
    width: 12rem;
    height: 100vh;
    position: fixed;
    z-index: 2000;
    background-color: $bg-primary;
    overflow: hidden;
}

.sidebar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Snav-item {
    width: 100%;
}


.Snav-item:last-child {
    margin-top: auto;
}

.Snav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $text-primary;
    text-decoration: none;
    padding: 0;
    margin: 0;
    filter: grayscale(100%);
    transition: var(--transition-speed);
}

.Snav-link i {
    padding-left: 1rem;
    font-size: 3rem;
    width: 4rem;
    min-width: 4rem;
    text-align: center;
}

.linked-text {
    margin-left: 1.5rem;
    display: inline;
}

.Snav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $bg-secondary;
    color: $text-secondary;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}


.logo-text
{
  left: 10px;
  display: inline;
  position: absolute;
  transition: var(--transition-speed);
}

.error{
    color:red
}

.success{
    color: limegreen;
}

//Hover Styles
.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.2s ease;
}

.inner:hover img {
    transform: scale(1.2);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a.custom-card:hover {
  color: inherit;
}

.linked-card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -5px 9px 40px -12px rgba(0,0,0,0.75);
}