body{
  background-color: #0c5460;
}


.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width:40%;
  min-width: fit-content;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
