

#content{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #E5E4E2;
    background: linear-gradient(45deg, #E5E4E2 0%, rgba(90,185,234,1) 100%);
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width:40%;
  min-width: fit-content;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
