{% extends "base.html" %}
{% block page_title %} 500 Error {% endblock %}
{% block page_content %}
    <div class="container-fluid text-center">
        <h1>Oops! Our Mistake</h1>
        <h3>Something went wrong with the server.</h3>
        <h4>We'll wake them up soon <i class="far fa-smile-wink"></i></h4>
        <br>
        <p><a href="{{ url_for('welcome_bp.index') }}">Back to home</a>
        <p>If the problem persists please contact us at <b>ProanalyticsRS@gmail.com</b></p>
    </div>
{% endblock %}