{% extends "base.html" %}
{% set active_page = "Upload" %}
{% block page_title %} Upload {% endblock %}
{% block page_content %}
    <head>
        <style>
            .alert {
              padding: 20px;
            {% if alert[0] == "Success" %}
                background-color: #86c232;
            {% elif alert[0] == "Failure" %}
                background-color: #EF4836;
            {% else %}
                background-color: #e77b33;
            {% endif %}
              color: white;
              opacity: 1;
              transition: opacity 0.6s; /* 600ms to fade out */
            }
        </style>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
        <!-- link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" /-->
        <!-- jquery imported in the base template-->
        <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
        <!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
            wish to resize images before upload. This must be loaded before fileinput.min.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/plugins/piexif.min.js" type="text/javascript"></script>
        <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
            This must be loaded before fileinput.min.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/plugins/sortable.min.js" type="text/javascript"></script>
        <!-- popper.min.js below is needed if you use bootstrap 4.x. You can also use the bootstrap js
           3.3.x versions without popper.min.js. -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
        <!-- bootstrap.min.js below is needed if you wish to zoom and preview file content in a detail modal
            dialog. bootstrap 4.x is supported. You can also use the bootstrap js 3.3.x versions. -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script> -->
        <!-- the main fileinput plugin file -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>
        <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/themes/fa/theme.js"></script>
        <!-- optionally if you need translation for your language then include  locale file as mentioned below -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/locales/(lang).js"></script>

    </head>
    {% if alert[0] %}
        <body>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {% if alert[0] == "Failure" %}
                    {{ alert[1] }} files were in incorrect format and could not be uploaded.
                {% elif alert[0] == "Success" %}
                    {{ alert[2] }} files have been successfully uploaded.
                {% elif alert[0] == "Warning" %}
                    {{ alert[2] }} files have been successfully uploaded, while {{ alert[1] }} duplicates were found and were not uploaded.
                {% else %}
                    This should not appear... go contact Ryan or something.
                {% endif %}
            </div>

            <script>
                // Get all elements with class="closebtn"
                var close = document.getElementsByClassName("closebtn");
                var i;

                // Loop through all close buttons
                for (i = 0; i < close.length; i++) {
                    // When someone clicks on a close button
                    close[i].onclick = function(){

                    // Get the parent of <span class="closebtn"> (<div class="alert">)
                    var div = this.parentElement;

                    // Set the opacity of div to 0 (transparent)
                    div.style.opacity = "0";

                    // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                    }
                }
            </script>
        </body>
    {% endif %}
    <div class="container-fluid">
    <div class = "text-center justify-content-center">
        <div>
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.1 175.2">
               <polygon class="logoCol1" points="113.9 67.9 153.1 0 74.7 0 113.9 67.9"/>
               <polygon class="logoCol2" points="69.4 13.1 108.6 79 32.6 175 0 138.9 69.4 13.1"/>
               <polygon class="logoCol3" points="158.8 11.6 120.2 79.1 198.6 175.2 231.1 138.1 158.8 11.6"/>
            </svg>
            <span><h1>PARS</h1></span>
        </div>
    </div>
        <div class="row">
            <div class="col-12">
                <div class="card h-100 justify-content-center">
                    <div class="card-header">
                        <p>
                        Upload shoot strings here. <br>
                        Files should appear as 'string-' followed by a number, e.g. 'string-1434928243577.txt'
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <!-- Code from https://plugins.krajee.com/file-theme-demo -->
                            <!-- FONT AWESOME THEME -->
                            <!-- load the JS files in the right order -->
                            <script src="../../node_modules/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
                            <script src="../../node_modules/bootstrap-fileinput/themes/fa/theme.js"></script>
                            {{ form.csrf_token }}
                            <!--Create upload button-->
                            <div class="file-loading">
                                {{ form.file(id="input-fa", name_="input-fa[]", multiple_type="file", accept="text/*") }}
                            </div>
                            <script>
                                $("#input-fa").fileinput({
                                    theme: "fa",
                                    dropZoneTitle: "Drag and drop txt files here…",
                                    allowedFileExtensions: ["txt"]
                            });
                                $("select[title='Upload selected file']").prop('type', 'button');
                            </script>
                            {{ form.identifier(value="upload") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
        //FileReader code from https://stackoverflow.com/questions/31746837/reading-uploaded-text-file-contents-in-html
        document.getElementById('input-fa').addEventListener('change', getFile);
        function getFile(event){
            const input = event.target;
            for (let i = 0; i<=input.files.length; i++){
                if ('files' in input && input.files.length > 0) {
                  placeFileContent(
                  document.getElementById('content-target' + i.toString()),
                  input.files[i])
                }
            }
        }
        function placeFileContent(target, file) {
            readFileContent(file).then(content => {
            target.value = content;
            console.log(content)
          }).catch(error => console.log(error))
        }
        function readFileContent(file) {
            const reader = new FileReader();
            return new Promise((resolve, reject) => {
                reader.onload = event => resolve(event.target.result);
                reader.onerror = error => reject(error);
                reader.readAsText(file)
            })
        }
        </script>
{% endblock %}