{% extends "base.html" %}
{% set active_page = "Upload" %}
{% block page_title %} Upload {% endblock %}
{% block page_content %}

<!--Username Autofill-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="../static/js/autofill.js"></script>

<style>
    .alert {
        padding: 20px;
        {% if alert[0] == "Success" %}
            background-color: #86c232;
        {% elif alert[0] == "Failure" %}
            background-color: #EF4836;
        {% else %}
            background-color: #e77b33;
        {% endif %}
        color: white;
        opacity: 1;
        transition: opacity 0.6s; /* 600ms to fade out */
    }
</style>
{% if alert[0] %}
    <body>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% if alert[2] > 0 %}
                {% if alert[0] == "Incomplete" %}
                    {{ alert[2] }} stages have been uploaded.
                {% else %}
                    {{ alert[2] }} stages are ready to upload.
                {% endif %}
            {% endif %}
            {% if alert[1] > 0 %}
                {{ alert[1] }} stages are missing a correct username.
            {% endif %}
        </div>

        <script>
            // Get all elements with class="closebtn"
            var close = document.getElementsByClassName("closebtn");
            var i;

            // Loop through all close buttons
            for (i = 0; i < close.length; i++) {
                // When someone clicks on a close button
                close[i].onclick = function(){

                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;

                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";

                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function(){ div.style.display = "none"; }, 600);
                }
            }
        </script>
    </body>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card h-100 justify-content-center">
                <div class="card-header text-center">
                    <h1>Finalise Upload</h1>
                </div>
                <form method="post">
                    <div class="card-body">
                         <div class="input-group mb-3">
                            <div class="input-group-append">
                                {{ form.location(class_="form-control") }}
                            </div>
                            <div class="input-group-append">
                                {{ form.weather(class_="form-control") }}
                            </div>
                             <div class="input-group-append">
                                {{ form.ammoType(class_="form-control") }}
                            </div>
                        </div>
                        <hr>
                        <!--TODO you probably need to change the value insert into some Javascript equivalent-->
                        <h3 class="text-center">The following stages contain incomplete data</h3>
                        {% if invalidList == [] %}
                            No invalid shoots!
                        {% endif %}
                        <div class="table-responsive">
                            <table class="text-center justify-content-center table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Stage ID</th>
                                        <th scope="col">Distance</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Score</th>
                                     </tr>
                                </thead>
                                <tbody>
                                {% for invalidShoot in invalidList %}
                                    <tr>
                                        <!-- Shoot ID may be meaningless since it's just a string of humanly unidentifiable numbers -->
                                        <td>{{ invalidShoot['id'] }}</td>
                                        <td>{{ invalidShoot['distance'] }}</td>
                                        <td>{{ invalidShoot['time'] }}</td>
                                        <td>
                                            <input type="text" class="user-searchbar" name="username.{{ invalidShoot['listID'] }}" value={{ invalidShoot['username'] }}>
                                        </td>
                                        <td>
                                            {% for shot in invalidShoot['shotList'] %}
                                                {{ shot }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        <!--TODO add proper submit style-->
                            {{ form.submit(class_="form-control") }}
                            {{ form.identifier(value="verify") }}
                            {{ form.stageDump(value=stageDump)}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
