{% extends "base.html" %}
{% set active_page = "Upload" %}
{% block page_title %} Upload {% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card h-100 justify-content-center">
                <div class="card-header text-center">
                    <h1>Finalise Upload</h1>
                </div>
                <form method="post">
                    <div class="card-body">
                         <div class="input-group mb-3">
                            <div class="input-group-append">
                                {{ form.location(class_="form-control") }}
                            </div>
                            <div class="input-group-append">
                                {{ form.rangeDistance(class_="form-control") }}
                            </div>
                            <div class="input-group-append">
                                {{ form.weather(class_="form-control") }}
                            </div>
                        </div>
                        <hr>
                        <!--TODO you probably need to change the value insert into some Javascript equivalent-->
                        <h3 class="text-center">The following stages contain incomplete data</h3>
                        <div class="table-responsive">
                            <table class="text-center justify-content-center table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Stage ID</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Score</th>
                                     </tr>
                                </thead>
                                <tbody>
                                {% for invalidShoot in invalidList %}
                                    <tr>
                                        <!-- Shoot ID may be meaningless since it's just a string of humanly unidentifiable numbers -->
                                        <td>{{ invalidShoot['id'] }}</td>
                                        <td>{{ invalidShoot['dateTime'] }}</td>
                                        <td>
                                            <input type="text"
                                                   name="username.{{ invalidShoot['listID'] }}"
                                                   value={{ invalidShoot['username'] }}>
                                        </td>
                                        <td>
                                            {% for shot in invalidShoot['shotList'] %}
                                                {{ shot }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        <!--TODO add proper submit style-->
                            {{ form.submit(class_="form-control") }}
                            {{ form.identifier(value="verify") }}
                            {{ form.stageDump(value=stageDump)}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
