<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0; padding: 0; font-family: Helvetica">
    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f8f8f8">
        <tr>
            <td>
                <table align="center" cellpadding="0" border="1" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <h1 style="margin: 10px;">PARS</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;">{% block secondary_heading %}{% endblock %}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;">
                                {% block email_content %}
                                {% endblock %}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
