{% extends 'email/emailBase.html' %}
{% block secondary_heading %}
    <h3 style="padding-left: 25%;">New Stages</h3>
{% endblock %}
{% block email_content %}
    {% for stage in stages %}
        <div style="padding-left: 25%">
            <h4>
                {{ (stage.timestamp|utc_to_nsw).strftime("%d %b %I:%M %p") }}
                - {{ stage.location }} {{ stage.distance }} -
            </h4>
            <a style = "background:#3b5fbf;border-radius:2.4px;box-sizing:border-box;color:white;display:block;
                font-size:1rem;font-weight:700;padding:12px 20px;text-align:center;text-decoration:none;width:60%"
                href="{{url_for('target', stageID=stage.id, _external=true)}}" class="button">View Online</a>
        </div>
    {% endfor %}
{% endblock %}

