:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    z-index: 0;
}

.sidebar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: width 600ms ease;
    background-color: var(--bg-primary);
}

.sidebar:hover {
    width: 16rem;
}

.sidebar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}


.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    padding: 0;
    margin: 0;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link i {
    padding-left: 1rem;
    font-size: 3rem;
    width: 4rem;
    min-width: 4rem;
    text-align: center;
}

.linked-text {
    margin-left: 1.5rem;
    display: none;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.sidebar:hover .linked-text {
    display: inline;
}

