<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %} | ProAnalytics</title>
    <script src="https://kit.fontawesome.com/de048b62de.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
</head>
<body>
    <nav class="sidebar">
        <u1 class="sidebar-nav">
            <li class="nav-item">
                <a href="/" class = "nav-link">
                    <i class="fas fa-home"></i>
                    <span class="linked-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/profile" class = "nav-link">
                    <i class="fas fa-user"></i>
                    <span class="linked-text">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/target" class = "nav-link">
                    <i class="fas fa-bullseye"></i>
                    <span class="linked-text">Target</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/user/signin" class = "nav-link">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="linked-text">Sign In</span>
                </a>
            </li>
        </u1>
    </nav>
    <main>
        {% block page_content %}
        {% endblock %}
    </main>
</body>
</html>