{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}
 <div class="jumbotron jumbotron-fluid">
  <div class="container justify-content-center text-center">
            <h1>Dylan Huynh (7M)</h1>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-8">
            <div class="card shadow border-0 justify-content-center">
                <div class = "card-title text-center">
                    <h2>Graphs</h2>
                </div>
                 <div class = "card-body">
                     Here is some info about you
                 </div>
            </div>
            <br>
            <div class="card shadow border-0 justify-content-center">
                <div class = "card-title">
                    <h2> Account Details </h2>
                </div>
                 <div class = "card-body">
                     Here is some info about you
                 </div>
            </div>
         </div>
        <div class="col-4">
            <div class="card shadow border-0 justify-content-center">
                <div class = "card-title text-center">
                    <h2>Account</h2>
                </div>
                 <div class = "card-body">
                     <p> Email: {{ session['email'] }}</p>
                    <p>Year: 7</p>
                 </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}