{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}
    <script type="text/javascript" src="/static/targetTests.js"></script>
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h4>hello</h4>
            <canvas id="title" style="border: 1px solid black"></canvas>
            <script>
                let myTarget = new DrawTarget('title', "300m", 600, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget.draw();
            </script>
        </div>
    </div>
</div>
{% endblock %}