<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/targetTests.js"></script>
    <title>Title</title>
    <style>
        body{
            margin:0
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>hello</h4>
            <canvas id="title" style="border: 1px solid black"></canvas>
            <canvas id="title2" style="border: 1px solid black"></canvas>
            <canvas id="title3" style="border: 1px solid black"></canvas>
            <canvas id="title4" style="border: 1px solid black"></canvas>
            <canvas id="title5" style="border: 1px solid black"></canvas>
            <canvas id="title6" style="border: 1px solid black"></canvas>
            <canvas id="title7" style="border: 1px solid black"></canvas>
            <canvas id="title8" style="border: 1px solid black"></canvas>
            <canvas id="title9" style="border: 1px solid black"></canvas>
            <script>
                let myTarget = new DrawTarget('title', "300m", 800, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget.draw();
                let myTarget2 = new DrawTarget('title2', "300m", 800, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget2.draw();
                let myTarget3 = new DrawTarget('title3', "300m", 1200, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget3.draw();
                let myTarget4 = new DrawTarget('title4', "300m", 800, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget4.draw();
                let myTarget5 = new DrawTarget('title5', "300m", 800, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget5.draw();
                let myTarget6 = new DrawTarget('title6', "300m", 1200, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget6.draw();
                let myTarget7 = new DrawTarget('title7', "300m", 800, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget7.draw();
                let myTarget8 = new DrawTarget('title8', "300m", 800, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget8.draw();
                let myTarget9 = new DrawTarget('title9', "300m", 1200, [['1', -115.92, 111.75], ['2', 9.49, 15.66]]);
                myTarget9.draw();
            </script>
        </div>
    </div>
</div>

</body>
</html>