<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %} | ProAnalytics</title>
    <script src="https://kit.fontawesome.com/de048b62de.js" crossorigin="anonymous"></script>

    <!--Script to detect changes in div dimensions-->
    <script src="../static/css-element-queries/src/ResizeSensor.js"></script>
    <script src="../static/css-element-queries/src/ElementQueries.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/template.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
     <!-- Defining aria collapse movement -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });
        });
    </script>
</head>
<body>
    {% block sidebar %}
    <style>
        svg{
            width: 5rem;
        }
    </style>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.1 175.2">
                   <polygon class="logoCol" points="113.9 67.9 153.1 0 74.7 0 113.9 67.9"/>
                   <polygon class="logoCol" points="69.4 13.1 108.6 79 32.6 175 0 138.9 69.4 13.1"/>
                   <polygon class="logoCol" points="158.8 11.6 120.2 79.1 198.6 175.2 231.1 138.1 158.8 11.6"/>
                </svg>
                <h1 class=fnt-righteous style="display: inline">PARS</h1>
            </div>
            <!-- Coaches View -->
                <!-- Todo Align icons-->
                <ul class="list-unstyled components">
                    <li>
                        <a href="/">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/profile">
                             <i class="fas fa-user"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="/target">
                            <i class="fas fa-bullseye"></i>
                            Target
                        </a>
                    </li>
                    <li>
                        <a href="/userList">
                            <i class="fas fa-portrait"></i>
                            User List
                        </a>
                    </li>
                    <li>
                        <a href="/upload">
                            <i class="fas fa-upload"></i>
                            Upload
                        </a>
                    </li>
                </ul>
            <ul class="list-unstyled CTAs">
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="/logout" class="article">Sign Out <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li>
                        <a href="/user/signin" class="article">Sign In <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% endblock %}
    <div id="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success text-center" role='alert'>
                    <ul class="flashes" style="list-style-type: none">
                    {% for message in messages %}
                        <li><b>{{ message }}</b></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        {% block page_content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>