{% extends "base.html" %}
{% set active_page = "home" %}
{% block page_title %} Admin Home {% endblock %}
{% block page_content %}
<style>
    .jumbotron{
        background-image: url('../static/images/home.jpg');
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 0px;
        background-position: center;
    }
    svg{
        height: 60px;
    }
</style>
<div class = "text-center justify-content-center">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.1 175.2">
           <polygon class="logoCol1" points="113.9 67.9 153.1 0 74.7 0 113.9 67.9"/>
           <polygon class="logoCol2" points="69.4 13.1 108.6 79 32.6 175 0 138.9 69.4 13.1"/>
           <polygon class="logoCol3" points="158.8 11.6 120.2 79.1 198.6 175.2 231.1 138.1 158.8 11.6"/>
        </svg>
        <span><h1>PARS</h1></span>
    </div>
</div>

<h2 class="text-center">Admin Features</h2>
<hr>
<div class = "row text-center justify-content-center">
    <div class="col-10 col-md-4">
        <a href="/upload" class="custom-card">
          <div class="card linked-card h-100">
              <div class="inner">
                  <img class="card-img-top" src="../static/images/upload.png" alt="Upload">
              </div>
              <div class="card-title">
                  <h4>Upload</h4>
              </div>
              <p>Upload files from on site system</p>
          </div>
        </a>
    </div>
    <div class="col-10 col-md-4">
        <a href="/studentList" class="custom-card">
          <div class="card linked-card h-100">
              <div class="inner">
                <img class="card-img-top" src="../static/images/findastudent.png" alt="Find A Student">
              </div>
              <div class="card-title">
                  <h4>Find A Shooter</h4>
              </div>
               <p>Investigate the performance of a specific shooter.</p>
          </div>
        </a>
    </div>
    <div class="col-10 col-md-4">
         <a href="/comparativeHomePage" class="custom-card">
          <div class="card linked-card h-100">
              <div class="inner">
                <img class="card-img-top" src="../static/images/comparisons.png" alt="Comparisons">
              </div>
              <div class="card-title">
                  <h4>Comparisons</h4>
              </div>
              <p>Line graphs, pie charts and other interesting visualisations!</p>
          </div>
        </a>
    </div>
</div>
<hr>
{% endblock %}