{% extends "base.html" %}
{% set active_page = "Home" %}
{% block page_title %} Home {% endblock %}
{% block sidebar %}{% endblock %}
{% block page_content %}
<div class="container-fluid text-center vh-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="title-main">
                <h1>PARS SYSTEM</h1>
            </div>
            <div>
                <img src="../static/images/logo.png" width="200">
            </div>
            <br>
            <a class="btn btn-primary btn-lg" href="/login">
                Sign In
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
</div>



{% endblock %}