{% extends "base.html" %}
{% set active_page = "Home" %}
{% block page_title %} Home {% endblock %}
{% block sidebar %}{% endblock %}
{% block page_content %}
<style>
    #content{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    h1{
        font-size: 10rem;
    }
    svg{
        height: 10rem;
    }
    .logoCol{
        fill: #0d0e0e;
    }
    .btn{
        transition: 1s;
    }
</style>
<div class="container-fluid text-center vh-100 background-light">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <span>
                <h1 class="fnt-righteous text-white">PARS</h1>
            </span>
            <div id="parent">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.1 175.2">
                   <polygon class="logoCol" points="113.9 67.9 153.1 0 74.7 0 113.9 67.9"/>
                   <polygon class="logoCol" points="69.4 13.1 108.6 79 32.6 175 0 138.9 69.4 13.1"/>
                   <polygon class="logoCol" points="158.8 11.6 120.2 79.1 198.6 175.2 231.1 138.1 158.8 11.6"/>
               </svg>
            </div>
            <br>
            <h3 class="text-white">Data analytics for SBHS Rifle Shooting</h3>
            <br>
            <a class="btn btn-secondary btn-lg" href="/login">
                Sign In
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
</div>



{% endblock %}