{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Plot Sheet {% endblock %}
{% block sidebar %}{% endblock %}
{% block page_content %}
    <!--Script to detect changes in div dimensions-->
    <script src="../static/css-element-queries/src/ResizeSensor.js"></script>
    <script src="../static/css-element-queries/src/ElementQueries.js"></script>
    <script src="../static/js/noteSubmit.js"></script>
    <script src="../static/js/table.js"></script>
    <meta id="my-data" data-userid="{{ user.id }}" data-endroute="/submitTable">
    <style>
        /*
        @media (min-width: 1200px){
            body {
                overflow: hidden;
            }
        }
        */

        .table{
            overflow: scroll;
        }

        .cover-container {
            height: 100vh;
        }
        .card-header{
            color: #fff
        }
        .table-wrapper{
            overflow-x: hidden;
            overflow-y: scroll;
            max-height: 75vh;
        }
        .table-wrapper thead th{
            position: sticky;
            top: 0;
        }
        .col-pixel-width-100 {
            flex: 0 0 75px;
        }
        #content{
            padding: 0;
            width: 100%;
        }
        @page {
          size: A4 landscape;
        }
        /*Styling from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip*/
        #tip {
            position: absolute;
            left: -200px;
            top: 100px;
            background-color: black;
            border-radius: 6px;
        }

    </style>
    <script type="text/javascript" src="../static/js/targetDiagram.js"></script>
    <script type="text/javascript" src="../static/js/targetAjax.js"></script>
    <script type="text/javascript" src="../static/js/groupingTarget.js"></script>
    <div class="container-fluid cover-container text-center">
        <div class="row flex-fill">
            <div class="justify-content-center" style="width:800px">
                <canvas id="title" style="border: 1px solid black"></canvas>
                <script>
                    let shotList = {{ data['jsonList']|safe }}; //TODO This is vulnerable to injections fix when we have time
                    let range = {{ data['range']|safe }};
                    let groupX = {{ stage.groupX|safe }};
                    let groupY = {{ stage.groupY|safe }};
                    let groupSize = {{ stage.groupSize|safe }};
                    let myTarget = new DrawTarget('title',range,shotList,[groupX, groupY, groupSize]);
                </script>
                <div class="card shadow border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ user.fName }} {{ user.sName }}</h4>
                            <p>
                                <div>{{ (stage.timestamp|utc_to_nsw).strftime("%d %b %Y %I:%M %p %Z") }}</div>
                                <div>{{ stage.location }} - {{ stage.distance }}</div>
                            </p>
                        </div>
                    </div>
                    {% block notes %}
                        <div>
                            <h5>
                                Coaches Notes
                                <div class="spinner-border spinner-border-sm text-primary ml-2"
                                     id="spinner" role="status" style="display: none; position: absolute">
                                </div>
                                <i id="tick" class="fa fa-check ml-2" aria-hidden="true" style="color: lawngreen; display: none; position: absolute"></i>
                            </h5>
                        </div>
                        <div>
                             <textarea class="form-control" id="notes" rows="3">{{ stage.notes }}</textarea>
                        </div>
                    {% endblock %}
                <!--<a class="btn btn-primary" href="#" role="button">&gt</a>-->
                </div>
                <br>
            </div>
            <div class="col-lg col-md-12 h-100">
                <div class="row h-60">
                    <div class="pl-3 pr-1 d-none d-sm-flex">
                        <div class="card shadow border-0">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in data['formattedList'] %}
                                            <tr>
                                                <th scope="row">{{ shot[0] }}</th>
                                                <td>{{ shot[3] }}</td>
                                                <td>{{ shot[4] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        {% block stat_table %}
                             <div class="card shadow border-0">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Stat</th>
                                          <th scope="col">This Stage</th>
                                          <th scope="col">Avr. (Day)</th>
                                          <th scope="col">Avr. (Season)</th>
                                        </tr>
                                    </thead>
                                     <tbody>
                                        <tr>
                                          <th scope="row">Avr. Score</th>
                                          <td>{{ data['stageStats'][0] }}</td>
                                          <td>{{ data['dayStats'][0] }}</td>
                                          <td>{{ data['seasonStats'][0] }}</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Median Score</th>
                                          <td>{{ data['stageStats'][1] }}</td>
                                          <td>{{ data['dayStats'][1] }}</td>
                                          <td>{{ data['seasonStats'][1] }}</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">S.T.D Score</th>
                                          <td>{{ data['stageStats'][2] }}</td>
                                          <td>{{ data['dayStats'][2] }}</td>
                                          <td>{{ data['seasonStats'][2] }}</td>
                                        </tr>
                                     <tr>
                                          <th scope="row">Group Size</th>
                                          <td>{{ data['stageStats'][3] }}</td>
                                          <td>{{ data['dayStats'][3] }}</td>
                                          <td>{{ data['seasonStats'][3] }}</td>
                                        </tr>
                                     <tr>
                                          <th scope="row">Duration</th>
                                          <td>{{ data['stageStats'][4] }}</td>
                                          <td>{{ data['dayStats'][4] }}</td>
                                          <td>{{ data['seasonStats'][4] }}</td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                        {% endblock %}
                        <br>
                        <div class="card shadow border-0 flex-fill">
                            <div class="card-header bg-dark">
                                <div class="row justify-content-between mx-2">
                                    <div>
                                        <i class="fas fa-circle" style="color:blue"></i>
                                        <span>This Stage</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-circle" style="color:green"></i>
                                        <span>Shot by this shooter</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-circle" style="color:red"></i>
                                        <span>Shot by others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow border-0">
                            <div class="row">
                                <div class="col-6">
                                    <h4>Stage Centres</h4>
                                    <canvas id="groupDiagram" style="border: 5px solid black"></canvas>
                                    <script>
                                        let groupDiagram = new GroupDiagram({{data['myStages']|safe}}, {{data['otherStages']|safe}}, {{[stage.groupX, stage.groupY, stage.distance]|safe}}, "groupDiagram");
                                        //TODO This is vulnerable to injections fix when we have time
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card shadow border-0">
                     <div class="card-header bg-dark">
                         <div>Gear Settings</div>
                     </div>
                    <div class="card-body">
                        <div>
                            <table class="table table-bordered editableTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Butt Length</th>
                                        <th>Butt Height</th>
                                        <th>Sight Hole</th>
                                        <th>Sling Point</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="rifle_buttLength">{{ user.rifle_buttLength }}</td>
                                        <td id="rifle_buttHeight">{{ user.rifle_buttHeight }}</td>
                                        <td id="rifle_sightHole">{{ user.rifle_sightHole }}</td>
                                        <td id="rifle_slingPointLength">{{ user.rifle_slingPointLength }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="height: 7rem">
                                <div class="col-2" id="settings-button">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" id="edit">
                                        <i class="fas fa-pencil-alt"></i>
                                        <h5>Edit</h5>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-lg btn-block" id="submit">
                                        <i class="fas fa-save"></i>
                                        <h5>Save</h5>
                                    </button>
                                </div>
                                <div class="col-10" style="height: inherit; overflow-y: scroll;">
                                     <table class="table table-bordered editableTable" id="stage-table">
                                        <thead class="thead-dark" style="position: sticky; top: 0;">
                                            <tr>
                                                <th>Distance</th>
                                                <th>Elevation</th>
                                                <th>Ring Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>300m</th>
                                                <td id="elevation_300m">{{ user.elevation_300m }}</td>
                                                <td id="ringSize_300m">{{ user.ringSize_300m }}</td>
                                            </tr>
                                            <tr>
                                                <th>400m</th>
                                                <td id="elevation_400m">{{ user.elevation_400m }}</td>
                                                <td id="ringSize_400m">{{ user.ringSize_400m }}</td>
                                            </tr>
                                            <tr>
                                                <th>500m</th>
                                                <td id="elevation_500m">{{ user.elevation_500m }}</td>
                                                <td id="ringSize_500m">{{ user.ringSize_500m }}</td>
                                            </tr>
                                            <tr>
                                                <th>600m</th>
                                                <td id="elevation_600m">{{ user.elevation_600m }}</td>
                                                <td id="ringSize_600m">{{ user.ringSize_600m }}</td>
                                            </tr>
                                            <tr>
                                                <th>700m</th>
                                                <td id="elevation_700m">{{ user.elevation_700m }}</td>
                                                <td id="ringSize_700m">{{ user.ringSize_700m }}</td>
                                            </tr>
                                            <tr>
                                                <th>800m</th>
                                                <td id="elevation_800m">{{ user.elevation_800m }}</td>
                                                <td id="ringSize_800m">{{ user.ringSize_800m }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}