{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Plot Sheet {% endblock %}
{% block sidebar %}{% endblock %}
{% block page_content %}
    <!--Script to detect changes in div dimensions-->
    <script src="../static/css-element-queries/src/ResizeSensor.js"></script>
    <script src="../static/css-element-queries/src/ElementQueries.js"></script>
    <script src="../static/js/noteSubmit.js"></script>
    <style>
        /*
        @media (min-width: 1200px){
            body {
                overflow: hidden;
            }
        }
        */

        .table{
            overflow: scroll;
        }

        .cover-container {
            height: 100vh;
        }
        .card-header{
            color: #fff
        }
        .table-wrapper{
            overflow-x: hidden;
        }
        .table-wrapper thead th{
            position: sticky;
            top: 0;
        }
        .col-pixel-width-100 {
            flex: 0 0 75px;
        }
        #content{
            padding: 0;
            width: 100%;
        }
        @page {
          size: A4 landscape;
        }
        /*Styling from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip*/
        #tip {
            position: absolute;
            left: -200px;
            top: 100px;
            background-color: black;
            border-radius: 6px;
        }

    </style>
    <script type="text/javascript" src="../static/js/targetDiagram.js"></script>
    <script type="text/javascript" src="../static/js/targetAjax.js"></script>
    <script type="text/javascript" src="../static/js/groupingTarget.js"></script>
    <div class="container-fluid cover-container text-center">
        <div class="row flex-fill">
            <div class="col-lg-5 col-md-12 justify-content-center">
                <canvas id="title" style="border: 1px solid black"></canvas>
                <script>
                    let shotList = {{ jsonList|safe }}; //TODO This is vulnerable to injections fix when we have time
                    let range = {{ range|safe }};
                    console.log(shotList);
                    let myTarget = new DrawTarget('title',range,shotList);
                </script>
                <div class="card shadow border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ user.fName }} {{ user.sName }}</h4>
                            <p>
                                <div>{{ (stage.timestamp|utc_to_nsw).strftime("%d %b %Y %I:%M %p %Z") }}</div>
                                <div>{{ stage.location }} - {{ stage.distance }}</div>
                            </p>
                        </div>
                    </div>
                    {% block notes %}
                        <div>
                            <h5>
                                Coaches Notes
                                <div class="spinner-border spinner-border-sm text-primary ml-2"
                                     id="spinner" role="status" style="display: none; position: absolute">
                                </div>
                                <i id="tick" class="fa fa-check ml-2" aria-hidden="true" style="color: lawngreen; display: none; position: absolute"></i>
                            </h5>
                        </div>
                        <div>
                             <textarea class="form-control" id="notes" rows="3">{{ stage.notes }}</textarea>
                        </div>
                    {% endblock %}
                <!--<a class="btn btn-primary" href="#" role="button">&gt</a>-->
                </div>
                <br>
            </div>
            <div class="col-lg col-md-12 h-100">
                <div class="row h-60">
                    <div class="pl-3 pr-1 d-none d-sm-flex">
                        <div class="card shadow border-0">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in formattedList %}
                                            <tr>
                                                <th scope="row">{{ shot[0] }}</th>
                                                <td>{{ shot[3] }}</td>
                                                <td>{{ shot[4] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        {% block stat_table %}
                             <div class="card shadow border-0">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Stat</th>
                                          <th scope="col">This Stage</th>
                                          <th scope="col">Avr. (Day)</th>
                                          <th scope="col">Avr. (Season)</th>
                                        </tr>
                                    </thead>
                                     <tbody>
                                        <tr>
                                          <th scope="row">Avr. Score</th>
                                          <td>{{ stageStats[0] }}</td>
                                          <td>{{ dayStats[0] }}</td>
                                          <td>{{ seasonStats[0] }}</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Median Score</th>
                                          <td>{{ stageStats[1] }}</td>
                                          <td>{{ dayStats[1] }}</td>
                                          <td>{{ seasonStats[1] }}</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">S.T.D Score</th>
                                          <td>{{ stageStats[2] }}</td>
                                          <td>{{ dayStats[2] }}</td>
                                          <td>{{ seasonStats[2] }}</td>
                                        </tr>
                                     <tr>
                                          <th scope="row">Group Size</th>
                                          <td>{{ stageStats[3] }}</td>
                                          <td>{{ dayStats[3] }}</td>
                                          <td>{{ seasonStats[3] }}</td>
                                        </tr>
                                     <tr>
                                          <th scope="row">Duration</th>
                                          <td>{{ stageStats[4] }}</td>
                                          <td>{{ dayStats[5] }}</td>
                                          <td>{{ seasonStats[4] }}</td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                        {% endblock %}
                        <br>
                        <div class="card shadow border-0 flex-fill">
                            <div class="card-header bg-dark">
                                <div class="row justify-content-between mx-2">
                                    <div>
                                        <i class="fas fa-circle" style="color:blue"></i>
                                        <span>This Stage</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-circle" style="color:green"></i>
                                        <span>Shot by this shooter</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-circle" style="color:red"></i>
                                        <span>Shot by others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow border-0">
                            <div class="row">
                                <div class="col-6">
                                    <h4>Stage Centres</h4>
                                    <canvas id="groupDiagram" style="border: 5px solid black"></canvas>
                                    <script>
                                        let groupDiagram = new GroupDiagram({{myStages|safe}}, {{otherStages|safe}}, {{[stage.groupX, stage.groupY, stage.distance]|safe}}, "groupDiagram");
                                        //TODO This is vulnerable to injections fix when we have time
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card shadow border-0">
                    <!--
                   <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="row"></th>
                                <th scope="col"></th>
                                <th scope="row"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Shooter Name</th>
                                <td>Dylan Huynh </td>
                                <th>Coach</th>
                                <td>Jeff</td>
                            </tr>
                            <tr>
                                <th scope="row">Date and Time</th>
                                <td>23/12/2020 10:45am</td>
                                <th>Rifle Serial</th>
                                <td>SDV-248</td>
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td>Malabar</td>
                                <th>...</th>
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>
                    -->
                     <div class="card-header bg-dark">
                         <div>Gear Settings</div>
                     </div>
                    <!--
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2" id="settings-button">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    <i class="fas fa-pencil-alt"></i>
                                    <h5>Edit</h5>
                                </button>
                            </div>
                            <div class="col-10">
                                 <table class="table" id="stage-table" style="overflow-x: scroll">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="row">Elevation</th>
                                            <th scope="row">Foresight Ring</th>
                                            <th scope="row">Sight Hole</th>
                                            <th scope="row">Sling</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row"><b>100</b></td>
                                            <td>10</td>
                                            <td>4</td>
                                            <td>7</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="row">Elevation</th>
                                            <th scope="row">Foresight Ring</th>
                                            <th scope="row">Sight Hole</th>
                                            <th scope="row">Sling</th>
                                        </tr>
                                    </thead>
                                    <tbody id="distance-settings">
                                        <tr>
                                            <th scope="row">100</th>
                                            <td>10</td>
                                            <td>4</td>
                                            <td>7</td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                    -->
                    <br>
                    <h2 class="text-secondary"><i class="fas fa-cogs"></i>  Coming Soon</h2>
                    <br>
                </div>
        </div>
    </div>
</div>
{% endblock %}