{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}
    <meta id="user-data" data-userid="{{ userID }}">
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="../static/js/table.js"></script>
    </head>

    <div class="col-lg-5 col-md-12 justify-content-center">
        <table id="editableTable">
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="code1">001</td>
                <td id="name1">Pedro Augusto</td>
                <td id="email1">pedro.augusto@myemail.com</td>
                <td id="number1">(21) 9999-8888</td> </tr>
            <tr>
                <td id="code2">002</td>
                <td id="name2">Paula Silva</td>
                <td id="email2">paula.silva@mymail.com</td>
                <td id="number2">(81) 8787-8686</td>
            </tr>
            <tr>
                <td id="code3">003</td>
                <td id="name3">Lucas Costa</td>
                <td id="email3">lucas.costa@myemail.com</td>
                <td id="number3">(84) 3232-3232</td>
            </tr>
            </tbody>
        </table>
        <button id="edit" type="button">
            Edit
        </button>
        <button id="submit" type="button">
            Submit
        </button>

    </div>
{% endblock %}