{% extends "base.html" %}
{% set active_page = "profile" %}
{% block page_title %} Profile {% endblock %}
{% block page_content %}
    <style>
        #tip {
            background-color:white;
            border:1px solid blue;
            position:absolute;
            left:-200px;
            top:100px;
        }
        #content{
            padding: 0;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="../static/js/targetTests.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 mr-5">
                <canvas id="title" style="border: 1px solid black"></canvas>
                <canvas id="tip"></canvas>
                <script>
                    let shotList= {{ jsonList|safe }} //TODO This is vulneratble to injections fix when we have time
                    let range = {{ range|safe }}
                    console.log(shotList)
                    let myTarget = new DrawTarget('title',range,shotList);
                </script>
            </div>
        <div class="col-lg-7 col-md-12">
                <div class="card-deck text-center">
                    <div class="card shadow border-0 h-80">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">A</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th scope="row">B</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>5</td>
                                </tr>
                             <tr>
                                    <th scope="row">3</th>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     <div class="card shadow border-0">
                        Hello
                    </div>
                </div>
                <br>
                <br>
                <div class="card shadow border-0">
                       <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="row">#</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Shooter Name</th>
                                    <td>Dylan Huynh </td>
                                </tr>
                                <tr>
                                    <th scope="row">Date and Time</th>
                                    <td>23/12/2020 10:45am</td>
                                </tr>
                                <tr>
                                    <th scope="row">Location</th>
                                    <td>23/12/2020 10:45am</td>
                                </tr>
                                <tr>
                                    <th scope="row">Rifle Serial</th>
                                    <td>SDV-248</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}