{% extends "base.html" %}
{% block page_content %}
    <style>
        #heatMap { position: relative; }
        .canvas { position: absolute; top: 0; left: 0; }
    </style>
    <h1>test</h1>
    <meta id="my-data" data-data="{{ data }}">
    <script src="../static/css-element-queries/src/ResizeSensor.js"></script>
    <script src=../static/heatmap.js-master/build/heatmap.min.js></script>
    <script src="../static/js/targetDiagram.js"></script>
      <div id='heatMap' style="height: 1200px; width: 1200px">
        <canvas class='canvas' width="1200" height="1200" style="position:absolute; left: 0; top: 0;"></canvas>
        <canvas class='canvas' id="title" style="border: 1px solid black"></canvas>
        <script>
            let myTarget = new DrawTarget('title','300m',{{ shotList|safe }})
        </script>
      </div>
    <script src="../static/js/seasonStatsGraph.js"></script>
{% endblock %}